@model SAP_1.Models.CursoOferecido

@{
    ViewData["Title"] = "Curso";
}

<h1>@ViewData["Title"] (@Model.IdCurso)</h1>


<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.IdCurso)</th>
        <th>@Html.DisplayNameFor(model => model.DtInicio)</th>
        <th>@Html.DisplayNameFor(model => model.IdInstrutor)</th>
        <th>@Html.DisplayNameFor(model => model.Localizacao)</th>
        <th>@Html.DisplayNameFor(model => model.FgAtivo)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>@Html.DisplayFor(modelItem => modelItem.IdCurso)</th>
        <th>@Html.DisplayFor(modelItem => modelItem.DtInicio)</th>
        <th>@Html.DisplayFor(modelItem => modelItem.IdInstrutor)</th>
        <th>@Html.DisplayFor(modelItem => modelItem.Localizacao)</th>
        <th>@Html.DisplayFor(modelItem => modelItem.FgAtivo)</th>
    </tr>
    </tbody>
</table>

<a class="btn btn-danger" asp-action="Index">Voltar</a>