@model ICollection<SAP_1.Models.CursoOferecido>

@{
    ViewData["Title"] = "Cursos oferecidos";
}

<h1>@ViewData["Title"]</h1>


<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Data de inicio</th>
        <th>Localização</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr class="table-light">
            <td>@Html.DisplayFor(modelItem => item.IdCurso)</td>
            <td>@Html.DisplayFor(modelItem => item.DtInicio)</td>
            <td>@Html.DisplayFor(modelItem => item.Localizacao)</td>
            <td>
                <a class="btn btn-secondary" asp-action="Editar" asp-route-idCurso="@item.IdCurso" asp-route-dtInicio="@item.DtInicio">Editar</a>
                <a class="btn btn-danger" asp-action="Remove" asp-route-idCurso="@item.IdCurso" asp-route-dtInicio="@item.DtInicio">Remover</a>
            </td>
        </tr>
    }
    </tbody>
</table>