@model SAP_1.Models.Curso

@{
    ViewData["Title"] = "Curso";
}

<h1>@ViewData["Title"] (@Model.IdCurso)</h1>


<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.IdCurso)</th>
        <th>@Html.DisplayNameFor(model => model.DsCurso)</th>
        <th>@Html.DisplayNameFor(model => model.Categoria)</th>
        <th>@Html.DisplayNameFor(model => model.Duracao)</th>
        <th>@Html.DisplayNameFor(model => model.FgAtivo)</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-light">
        <th>@Html.DisplayFor(modelItem => modelItem.IdCurso)</th>
        <th>@Html.DisplayFor(modelItem => modelItem.DsCurso)</th>
        <th>@Html.DisplayFor(modelItem => modelItem.Categoria)</th>
        <th>@Html.DisplayFor(modelItem => modelItem.Duracao)</th>
        <th>@Html.DisplayFor(modelItem => modelItem.FgAtivo)</th>
    </tr>
    </tbody>
</table>

<a class="btn btn-danger" asp-action="Index">Voltar</a>