@model ICollection<SAP_1.Models.Curso>

@{
    ViewData["Title"] = "Cursos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Criar">Criar novo curso.</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Categoria</th>
        <th>Ativo</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.IdCurso)</td>
            <td>@Html.DisplayFor(modelItem => item.Categoria)</td>
            <td>@Html.DisplayFor(modelItem => item.FgAtivo)</td>
            <td>
                <a class="btn btn-secondary" asp-action="Editar" asp-route-idCurso="@item.IdCurso">Editar</a>
                <a class="btn btn-secondary" asp-action="Detalhar" asp-route-idCurso="@item.IdCurso">Detalhar</a>
                <a class="btn btn-danger" asp-action="Remover" asp-route-idCurso="@item.IdCurso">Remover</a>
                <a class="btn btn-danger" asp-action="Create" asp-controller="CursoOferecido" asp-route-idCurso="@item.IdCurso">Oferecer Curso</a>
            </td>
        </tr>
    }
    </tbody>
</table>