@model SAP_1.Models.Empregado
@{
    List<Empregado> subordinados = ViewBag.IsGerente;
}

<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.IdEmpregado)</th>
        <th>@Html.DisplayNameFor(model => model.IniciaisEmpregado)</th>
        <th>@Html.DisplayNameFor(model => model.NmEmpregado)</th>
        <th>@Html.DisplayNameFor(model => model.IdGerente)</th>
        <th>@Html.DisplayNameFor(model => model.IdDepartamento)</th>
        <th>@Html.DisplayNameFor(model => model.DsCargo)</th>
        <th>@Html.DisplayNameFor(model => model.DtNascimento)</th>
        <th>@Html.DisplayNameFor(model => model.Salario)</th>
        <th>@Html.DisplayNameFor(model => model.Comissao)</th>
        <th>@Html.DisplayNameFor(model => model.FgAtivo)</th>
        <th>É gerente?</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-light">
        <th>@Html.DisplayFor(modelItem => @Model.IdEmpregado)</th>
        <th>@Html.DisplayFor(modelItem => @Model.IniciaisEmpregado)</th>
        <th>@Html.DisplayFor(modelItem => @Model.NmEmpregado)</th>
        <th>@Html.DisplayFor(modelItem => @Model.IdGerente)</th>
        <th>@Html.DisplayFor(modelItem => @Model.IdDepartamento)</th>
        <th>@Html.DisplayFor(modelItem => @Model.DsCargo)</th>
        <th>@Html.DisplayFor(modelItem => @Model.DtNascimento)</th>
        <th>@Html.DisplayFor(modelItem => @Model.Salario)</th>
        <th>@Html.DisplayFor(modelItem => @Model.Comissao)</th>
        <th>@Html.DisplayFor(modelItem => @Model.FgAtivo)</th>
        @{
            if (subordinados.Count() > 0)
            {
                <th>True</th>
            }
            else
            {
                <th>False</th>
            }
        }
    </tr>
    </tbody>
</table>

<a class="btn btn-danger" asp-action="Index">Voltar</a>